*.txt

Dataprocessing/*.dat
Dataprocessing/*.jpg
Dataprocessing/*.txt
Dataprocessing/*.json
Dataprocessing/saveData/
*DS_Store*
# Ignore Vim swap, backup, and undo files
*~
*.swp
*.swo
*.un~

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
._*.c
._*.h
._Makefile

# Ignore build files
obj/*.o

# Ignore pre-requistes
obj/*.d

# Ignore VSCode smbdelete files
.smbdelete*
